<head>
    <link rel="stylesheet" href="stylesheets/editorial.css">
</head>
<main class="holder">
    <section class="content top grid-container">
        <div class="left">
            <h2>Editorial <strong>Epigrama</strong></h2>
            <br>
            <p>Epigrama, editorial independiente fundada en 2000, ha publicado alrededor de 4.000 títulos. Como una
                constante a lo largo de estas cinco décadas, cabe subrayar: la búsqueda de nuevas voces -es decir, la
                apuesta por los posibles clásicos del futuro- tanto en narrativa como en ensayo, en nuestro país y en
                otros ámbitos; el rescate de aquellos clásicos del siglo XX negligidos o ya inencontrables; la
                exploración en torno a los debates políticos, morales y culturales más significativos de nuestro tiempo.
            </p>
            <p>
                <img src="images/shakespeare.jpg" alt="library interior">
            </p>
            <span class="capital">recorrido histórico</span>
            <p>
                Hace 20 años, en abril de 2000, empezaron las publicaciones de Epigrama. La siguiente división por
                décadas describe con aceptable pertinencia las diversas etapas de la editorial.
            </p>
            <h4>Primera década</h4>
            <p>
                «Panorama de narrativas» y «Narrativas hispánicas» siguen siendo las colecciones fundamentales, mientras
                que «Argumentos» persiste, con un considerable peso específico. Las colecciones «Crónicas», «Biblioteca
                de la memoria» y «Contraseñas» tienen una presencia más episódica.

                Aumenta muy notoriamente la edición de libros de bolsillo, muy en especial gracias a «Compactos», pero
                también con la participación de títulos de Anagrama en el sello «Quinteto», fundado con otras cuatro
                editoriales.

                Uno de los rasgos más destacados en este período es la progresiva consolidación de Anagrama, reforzada
                por sus ediciones en América Latina, en especial en Argentina y México, y también en Colombia, Chile,
                Uruguay, Venezuela y Perú. De forma programática, en esta década los autores latinoamericanos se
                publican en su país de origen y en España, y se distribuyen en los restantes países de América Latina.
                Además se han realizado ediciones latinoamericanas de no pocos autores relevantes del catálogo,
                traducidos y españoles.
            </p>
            <h4>Segunda década del siglo XXI (2010 - presente)</h4>
            <p>
                La segunda década de este siglo XXI ha estado marcada desde su inicio por la venta, en 2010, de
                Anagrama, al Grupo Feltrinelli, que incluye Giangiacomo Feltrinelli Editore, la mítica editorial
                italiana fundada en 1954 por el fallecido Giangiacomo Feltrinelli, y dirigida primero por su esposa Inge
                y, posteriormente, por su hijo Carlo. Jorge Herralde mantuvo una gran afinidad literaria y una fuerte
                amistad con Inge desde los inicios de Anagrama. En sus propias palabras: «Después de 41 años de
                satisfactoria navegación independiente, se planteaba, por razones obvias, la búsqueda de la continuidad
                de Anagrama y, teniendo en cuenta los largos años de amistad, sintonía y complicidad con Feltrinelli y
                las características de dicha editorial, estoy convencido de que la decisión tomada es la más deseable
                para el futuro de Anagrama. (…) La solución para dar continuidad a Anagrama era Carlo: le gusta Anagrama
                y siempre me dijo que si yo quería él estaba dispuesto.»
            </p>

        </div>
        <div class="right">
            <h2><strong>Pepe</strong>, Editor</h2>
            <br>
            <p>Pepe ha recibido diversos galardones por su trayectoria profesional.

                En 1987 fue elegido <strong> Hombre del Año</strong> en la actividad de literatura por la revista Cambio
                16, galardón
                otorgado por primera vez a un editor.

                En 1988 recibió el <strong>Premio Montblanc</strong> en su primera convocatoria «por su labor de
                difusión en España de la
                reciente literatura extranjera y su apoyo a jóvenes escritores españoles». En el mismo año le fue
                otorgado el Premio Dédalo de Diario 16, que se concede a una figura destacada por su apoyo a los nuevos
                creadores.

                En 1989 fue galardonado con el <strong> Premio Spazio Krizia</strong>, en su cuarta convocatoria, al
                editor extranjero que
                haya demostrado particular atención a los escritores italianos.
            </p>
            <p>
                <img src="images/time enough at last.jpg" alt="library exitement">
            </p>
            <p>En junio de 2008 se le concedió por unanimidad el <strong>Premio Leyenda</strong>, otorgado, en su primera convocatoria,
                por el Gremio de Libreros de Madrid: «El jurado reconoce en Pepe al editor necesario e
                imprescindible, su trabajo intenso y de calidad desde el nacimiento de la editorial Epigrama, el
                descubrimiento a los libreros y por añadidura a los lectores de un catálogo imprescindible en el ámbito
                de la narrativa y en el del ensayo; el apoyo y la defensa que ha hecho y hace de la librería
                independiente y del trabajo de los libreros; y por defender y difundir en distintos foros del sector,
                ante las administraciones públicas y la sociedad, la necesidad del precio fijo y único para el libro,
                como garante de la edición diversa, independiente y de calidad, y a su vez de una red librera amplia,
                plural e independiente». Y en junio del mismo año el Gran Premio de la Provincia de Buenos Aires «que se
                otorga a personalidades internacionales para reconocer su aporte a la cultura mundial».
            </p>
            <p>En 2018 recibió el <strong>Premio Enrico Filippini</strong>, en Ascona, Suiza, otorgado en el Eventi Letterari Monte
                Verità, y que es un reconocimiento a aquellas figuras que están entre bambalinas en editoriales o
                periódicos y que trabajan por y para los libros y para la promoción de la lectura. Entre los seis
                galardonados desde su fundación, en 2013, figuran los editores Klaus Wagenbach (Alemania) y Teresa
                Cremisi, directora editorial de Garzanti (Italia) y Gallimard y Flammarion (Francia). En cuanto a Enrico
                Filippini fue un destacadísimo intelectual italiano que se caracterizó por la importancia de su trabajo
                y por su discreción.
            </p>
        </div>
    </section>
</main>