<head>
    <link rel="stylesheet" href="/stylesheets/noticia.css">
</head>
<main class="holder">

    <section class="row2 top">
        <a href="/noticias"><i style="color: black; margin-left: 10px; font-size:30px" class="fa fa-arrow-circle-left"
                aria-hidden="true"></i></a>

        <div class="container">
            <div class="noticia">
                <span class="date">{{noticia.fecha}}</span>
                <h3>{{noticia.titulo}}</h3>
                
                <a href='#'><img src="https://via.placeholder.com/450.png"></a>
                <p>{{noticia.contenido}}</p>
                <p class="bottom">Comparte en:</p>
                <div class="red2">
                    <a href="#"><span class="icon-facebook red"></span>
                    </a>
                    <a href="#"><span class="icon-twitter2 red"></span>
                    </a>
                </div>
            </div>
        </div>
    </section>
</main>