<head>
    <link rel="stylesheet" href="stylesheets/novedades.css">
</head>
<main class="holder">
    <section class="row top">
        <div class="icon-menu" onclick="myFunction()">
            <div class="menu-months" id="myLinks">
                <ul>
                    <li><a href="#">Mayo 2020</a></li>
                    <li><a href="#">Abril 2020</a></li>
                    <li><a href="#">Marzo 2020</a></li>
                    <li><a href="#">Febrero 2020</a></li>
                    <li><a href="#">Enero 2020</a></li>
                </ul>
            </div>
        </div>
        <h2>Novedades</h2>
        <div class="dwn-pdf">
            <a href="../files/el-atlas-de-la-educacion.pdf">
                <p>Descarga el boletín de novedades</p>
            </a>
        </div>
    </section>
    <section class="row2">

        {{#each novedades}}
        <h3>{{mes}}</h3>
        <h4>Carta del editor</h4>
        <div class="text">
            <p>{{texto}}</p>
        </div>
        {{/each}}

        <div class="imgtxt">
            <div class="img">
                <a href="../nuevos/book.html">
                    <img src="images/libro-nov.webp" alt="libro">
                </a>
            </div>
            <div class="txt">
                <a href="../nuevos/book.html">
                    <span class="título">Pandemia</span>
                </a>
                <a href="../autores/autor.html">
                    <span class="autor">Zizek, Slavoj</span>
                </a>
                <div class="reseña">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut quia reiciendis blanditiis nobis,
                    quidem molestiae magni voluptas libero in id...
                </div>
            </div>
        </div>
    </section>
    <section class="row2 top">
        {{#each nov2}}
        <div class="text">
            <p>{{texto}}</p>
        </div>
        {{/each}}
        <div class="imgtxt">
            <div class="img">
                <a href="../nuevos/book.html">
                    <img src="images/loscombatientes.webp" alt="libro">
                </a>
            </div>
            <div class="txt">
                <a href="../nuevos/book.html">
                    <span class="título">Los combatientes</span>
                </a>
                <a href="../autores/autor.html">
                    <span class="autor">Morales, Cristina</span>
                </a>
                <div class="reseña">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut quia reiciendis blanditiis nobis,
                    quidem molestiae magni voluptas libero in id...
                </div>
            </div>
        </div>
    </section>
    <section class="row2 top">
        {{#each nov3}}
        <div class="text">
            <p>{{texto}}</p>
        </div>
        {{/each}}
        <div class="imgtxt">
            <div class="img">
                <a href="../nuevos/book.html">
                    <img src="images/agend3.webp" alt="libro">
                </a>
            </div>
            <div class="txt">
                <a href="../nuevos/book.html">
                    <span class="título">Nuestra parte de noche</span>
                </a>
                <a href="../autores/autor.html">
                    <span class="autor">Enriquez, Mariana</span>
                </a>
                <div class="reseña">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut quia reiciendis blanditiis nobis,
                    quidem molestiae magni voluptas libero in id...
                </div>
            </div>
        </div>
    </section>
</main>